.login-bg {
  display: inline-block;
  width: 100%;
}
.login-bg {
  height: 100vh;
   
}
body .navbar-default {
  background-color: #F0FBFF;
}
html body{background-color: #FFF;}
.client_dashboard canvas{width: 100%;}
.paddT3{padding-top: 3px;}

.sidebar-top{background: #272D34;padding-top: 12px;
  height: 54px;}
.mx-100{max-width: 100%;}
.nav > li{width: 100%;}
.green-btn, .green-btn.btn:hover {
  color: #FFF !important;
  background-color: #00AEEF !important;
}
body .fade{opacity: 1;}
body .modal-body{padding: 20px 50px 16px 50px;}
body .modal-content {
  border-radius: 12px;
}

@media (min-width: 768px) {
 body .modal .modal-dialog {
    margin: 40px auto;
  }
}