.login-bg {
  display: inline-block;
  width: 100%;
}
.login-bg {
  height: 100vh;
   
}
body .navbar-default {
  background-color: #F0FBFF;
}
html body{background-color: #FFF;}
.client_dashboard canvas{width: 100%;}
.paddT3{padding-top: 3px;}

.sidebar-top{background: #272D34;
  height: 54px;}